[Unit]
Description=Bridgething daemon
After=network.target bluetooth.service bridgething-init.service bridgething-opt-init.service
Wants=bluetooth.service
Requires=bridgething-opt-init.service
Before=bridgething-chromium-kiosk.service
Conflicts=bridgething-als.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=notify
Environment=RUST_LOG=info,bluer=warn
ExecStart=/usr/bin/bridgething
Restart=on-failure
RestartSec=2
TimeoutStartSec=30
NotifyAccess=main
WatchdogSec=0
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=15
OnFailure=bridgething-rollback.service

[Install]
WantedBy=multi-user.target
