<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h @@MDNS_SERVICE_NAME@@ Web</name>
  <service>
    <type>_http._tcp</type>
    <port>8891</port>
  </service>
</service-group>
