[Match]
Name=uecm*

[Network]
Address=10.42.1.2/24
DHCPServer=yes
LinkLocalAddressing=no
IPv6AcceptRA=no
IPMasquerade=no
ConfigureWithoutCarrier=yes
EmitLLDP=no

[DHCPServer]
PoolOffset=10
PoolSize=8
EmitDNS=no
EmitNTP=no
EmitRouter=no

[Link]
RequiredForOnline=no
