[Match]
Name=uecm*

[Network]
Address=10.42.0.2/29
DHCPServer=yes
LinkLocalAddressing=no
IPv6AcceptRA=no
IPMasquerade=no
ConfigureWithoutCarrier=yes
EmitLLDP=no

[DHCPServer]
PoolOffset=3
PoolSize=4
EmitDNS=no
EmitNTP=no
EmitRouter=no

[Link]
RequiredForOnline=no
